@model GestionHojasDeVida.Models.UsuarioLoginDTO

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gestion Hojas de Vida</title>

    <script src="js/prefixfree.min.js"></script>
    <link href="~/Css/Estilo_Login.css" rel="stylesheet" />

</head>

<body>

    <div class="body"></div>
    <div class="grad">
        <br />
    </div>
    <div class="header">
        <div>Gestión<span> Hojas De Vida</span></div>
    </div>
    <br>
    <form method="post"  action=@Url.Action("Main", "UsuarioLoginDTO")>
        <div class="prueba">
            <div class="login">
                <input type="text" placeholder="username" name="TextUser"><br>
                <input type="password" placeholder="password" name="TextPassword"><br>
                <input type="button" value="Login" onclick="location.href='/UsuarioLoginDTO/Main'">
            </div>
        </div>
    </form>
    
</body>
</html>