a,
.main-navigation a:hover,
.main-navigation a:focus,
.format-status .entry-header header a:hover,
.comments-area article header a:hover,
a.comment-reply-link:hover,
a.comment-edit-link:hover,
.template-front-page .widget-area .widget li a:hover,
.chosen-container .chosen-results li.highlighted {
    color: #000000;
}

.bypostauthor cite span,
.cd-top,
.cd-top:hover,
.td-buttom,
.load_more_jobs,
.load_more_jobs.loading,
.front-page-partners,
.bypostauthor cite span {
    background-color: #000000;
}



a:hover,
a:active,
a:focus {
    color: #484848;
}

.td-buttom:hover,
.load_more_jobs:hover,
.load_more_jobs:active {
    background-color: #484848;
}



.listings-grid-item-price .tagline,
.single-listings-grid-item-type,
.single-listings-grid-item-price .tagline,
.single-listings-grid-item-type span,
.pricing--pema .pricing-price,
.pricing--pema .pricing-sentence,
.listings-grid-product-price .amount,
.product-content .price .amount,
.single-product .stars a:before,
.marker-content .marker-listing-price,
.category-grid-item .category-text .category-count-front,
.regions-grid-item .category-text .category-count-front,
.category-grid-item .category-text .category-count-back,
.regions-grid-item .category-text .category-count-back,
.regions-grid-item .category-childrens span,
.front-search-box .search-submit span,
.comment-awaiting-moderation,
.package-block .amount {
    color: #DA3610;
}

.bookmark-text {
    color: #DA3610 !important;
}

.pricing--pema .pricing-action,
.get-started-button,
.featured-label,
.woocommerce .button,
.custom-checkbox input:checked + label:before,
.payment_methods.methods input:checked + label:before,
ul[id='shipping_method'] input:checked + label:before,
.job-manager-form fieldset .job-manager-uploaded-files .job-manager-uploaded-file .job-manager-uploaded-file-preview a,
.main-navigation li.featured a {
    background-color: #DA3610;
}

.td-border-line.line-left,
.td-border-line.line-right,
.td-border-line.line-top,
.td-border-line.line-bottom {
    background-color: #ffffff;
}

.site {
    padding-top: 30px;
}

.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}



    .header div {
        float: left;
        color: #000;
        font-family: "Advertising Script";
        font-size: 30px;
        font-weight: 600;
    }

        .header div span {
            color: darkblue !important;
        }
        .prueba div{
    	padding: 8px;
	    background-color: lightgray;
        height:60px;
        opacity:0.7;
        border-radius:8px;
    }
        .encabezado div{
         color: black;
        font-family: "Advertising Script";
        font-size: 40px;
        font-weight: 600;
         opacity:0.7;
        text-align:center;
        }
        .img{
            border-radius:8px;
            background-image: url("/Imagenes/cumpleanios.JPG");
            background-size: cover;
            width:700px;
            height:500px;
            margin: 0 auto;
                
        }
